*{

    margin:0;
    padding :0;
    user-select: none;
      -webkit-user-select: none;       
  -webkit-touch-callout: none;       
  -webkit-tap-highlight-color: transparent; 
  outline: none;                     
  border: none;  
}

#nav::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}

#nav{
    display:flex;
   align-items: center;
  position: relative;
 backdrop-filter: blur(6px);
   
}



#nav ul{
    display: flex;
    
}
#nav #logo img{
    height: 120px;
    width: 120px;
   
}

.items{
    font-size: 1.3rem;
    list-style: none;
    
}

.items a{
    text-decoration: none;
   padding:15px 35px 15px  35px;
   color: white;
   font-family: "Baloo Bhai 2", sans-serif;
   border: none;
   text-align: center;
}

.items a:hover{
   background-color: white;

    border-radius: 30px;
    color: black;
    opacity: 0.6;
    backdrop-filter: blur(10px);
    border: none;
   
}

#home::before{
    content: "";
    position: absolute;
     background-color: grey;
 opacity: 0.3;

}
#home{
position: relative;
  display: flex;
  flex-direction: column;
 backdrop-filter: blur(5px);

}

html::before{
    content: "";
    position: fixed;
    background-image: url("../res/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100dvh;
    width: 100dvw;
    z-index: -2;
    opacity: 0.8;
    overflow-x:hidden;
    overflow-y: scroll;
}

body{
    margin: 0;
    padding: 0;
    height: 100%;
    width:100%;
    overflow-x:hidden;
    overflow-y: scroll;
}


.welcome{
    font-size: 3.3rem;
    margin: auto;
    padding:60px;
    color : black;
    font-family: "Bree Serif", sans-serif;
    overflow: hidden;
    text-align: center;

}

#home p{
    margin:auto;
    text-align: center;
    font-size: 1.8rem;
    font-family: "Baloo Bhai 2", serif;
    font-style: italic;
    
    padding: 0px 100px 0px 100px;
    overflow: hidden;
}



#order{
position: relative;
    margin:auto;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    height: 4rem;
    width: 15rem;
    border-radius: 30px;
    border:2px solid grey;
    color:yellow;
    background-color: rgba(114, 109, 109, 0.8);
    font-size: 1.23rem;
    backdrop-filter: blur(10px);
    cursor: pointer;

}

#order:hover{
  background-color:  rgba(114, 109, 109, 0.6);
    
}


#foods{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
    flex-wrap: wrap;
    margin: 3rem;
    align-items: center;
    background-color: rgba(122, 118, 118,0.2);
    backdrop-filter: blur(6px);
    border-radius: 35px;
}

.cards{
    display:flex;
    flex-direction: column;
    height:auto;
    width:30%;
    margin-bottom: 2rem;
    margin-top: 3rem;
    cursor: pointer;
}

.cards:hover{
    opacity: 0.75;

}

.cards div img{
     height: auto;
    width: 100%;
    border-radius: 35px;

}

.cards div{
    color: yellow;
    font-size: 1.7rem;
    text-align: center;
    font-weight: bold;
}

#contact{
    display: flex;
    flex-direction: row;
    width:80%;
    margin:auto;
    margin-top: 10%;
    margin-bottom: 10%;
    background-color: rgba(122, 118, 118,0.2);
    backdrop-filter: blur(6px);
    border-radius: 35px;
    justify-content: space-evenly;
}

#form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:50% ;
    margin: 10%;
    margin-left:6%;
}


#form input{
   
    margin-top: 10%;
    border-radius: 30px;
    border: 2px solid black;
    text-align: center;
    height: 60px;
    width: 100%;
    background-color: rgb(18, 18, 18,0.5);
    color: white;
    font-size: 1.3rem;
    outline: none;
}
#form input::placeholder{
    color:white;
    opacity: 0.5;
}

#form input::selection{
    background-color: rgb(50, 49, 49);
}

#contact form p{

    font-size: 2.3rem;
    font-family: "Baloo Bhai 2", serif;
   font-weight: bold;
    font-style: italic;
    color: yellow;
    text-align: center;
}


#submit{
    text-align: center;
    margin-top: 10%;
    
    height: 60px;
    width: 80%;

    border-radius: 30px;
       border:2px solid grey;
    color:yellow;
    background-color: rgba(77, 75, 75, 0.8);
    font-size: 1.23rem;
    backdrop-filter: blur(10px);
    cursor: pointer;
}

#submit:hover{
  background-color:  rgba(114, 109, 109, 0.6);


}
#icons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
    font-size: 2rem;
    font-family: "Baloo Bhai 2", serif;
    font-weight: bold;
    color: yellow;
  
}
#icons div{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    justify-self: center;
    margin-top: 5%;
    width: 85%;
}

#icons div div img{
   
    height: 30%;
    width: 50%;
    margin: 3%;
}

#divider{

    width: 0.2%;
    height: 370px;
    background-color: white;
    align-self: center;
    border-radius: 60px;
 opacity: 0.6;
}

#menu{
    display:none;

}

@media (max-width:750px)
{
    #foods{
        flex-direction: column;
        padding-top:10%;
    }
    .cards{
        width: 80%;
       margin-top:0px;
       margin-bottom: 10%;
    }

    #contact{
        flex-direction: column;
        align-items: center;
    }
    #icons div{
        margin-bottom: 10%;
        width: 100%;
    }
    #icons div div img{
        height: 40%;
        width: 60%;

    }

    #divider{
       width:60%;
       height: 1.5px;
        margin-bottom: 7%;
    }

    
    #form{
        width: 85%;
        align-self: center;
        margin-left: 11%;
    }
    #form input{
        width:100%;
    }


  
  
}


@media (max-width:725px){

  /*navbar*/
    #nav{
        flex-direction: column;
    }
    #nav ul{
        flex-direction: column;
       
    }
   
    .items{
       
        margin-bottom: 25px;
        
        
    }

    #navtop{
        width: 100%;
        justify-content: space-between;
        display: flex;
        flex-direction: row;

    }
    #menu{
        display: block;
        align-self: center;
        margin-right: 6%;
        
    }
    #menu img{
        height: 40px;
        width: 100%;
        
    }
    #menu:hover{
        background-color: white;
        opacity: 0.6;
        backdrop-filter: blur(10px);
        border-radius: 200px;
        cursor: pointer;
    }
    #menu img:hover{
        filter: invert(100%) ;
    }


   #navsection{
    display: none;
   }

}
